.f-form{
    width:40%;
    height:40vh;
    padding: 40px;
    background: #ccc;
}
.f-form .inputbox{
    position: relative;
    width:100%;
    margin-top: 10px;
    display: flex;
}
.f-form .inputbox input{
    
    width:50%;
    padding:5px 0;
    font-size: 10px;
   margin:0px 10px;
   background: #ccc;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
}
.f-form .inputbox h2{
    font-size: 15px;
    text-align: center;
    color:black;
}
.f-form #submitButton{
 color:black;
 font-size: 15px;
position: absolute;
top:57%;
left:20%;

}
.f-form #submitButton:hover{
    color: red;
}
